<div id="app">
    <!-- <app-contents v-on:이벤트이름="상위 컴포넌트의 메서드 이름"></app-contents> -->
    <app-contents v-on:refresh="showAlert"></app-contents>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    let appContents = {
        template: `
            <p>
                <button v-on:click="sendEvent">갱신</button>
            </p>
        `,
        methods: {
            sendEvent() {
                this.$emit("refresh");
            },
        },
    };

    Vue.createApp({
        methods: {
            showAlert() {
                window.alert("새로고침");
            },
        },
        components: {
            "app-contents": appContents,
        },
    }).mount("#app");
</script>
